html {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  body {
    background-size: 50px 50px;
    background-color: #569b61;
    display: flex;
    justify-content:center;
  }
  .radio_buttons_container {
    padding-left: 60px;
    font-size: 18px;
   
  }
  .input_checkbox{
    padding-left: 30px;
    font-size: 18px;
  }
  .box div{display:inline-block;}
  
  #container {
    height: 800px;
    width: 500px;
    margin: 50px auto;
    background:#FFFFFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }
  p {
    font-family: 'Yeon Sung', cursive;
    color: rgb(8, 8, 8);
    padding-left: 30px;
    font-size: 22px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background:#aecc41;
  }
  
  #calculate {
    text-transform: uppercase;
     display: block;
     margin: 10px auto;
     font-family: 'Yeon Sung', cursive;
      color: rgb(70, 80, 25);
      font-size: 130%;
      font-weight: 700;
      padding: .25em .5em;
      outline: none;
      border-radius: 7px;    
  }
  
  #calculate:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(150,150,150,1);
  }
  #calculate:active {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgb(0,0,0), inset 0 0 0 60px rgba(150,150,150,1);
  }
  
  #expense{
    font-family: 'Batang';
    padding-left: 150px;
    font-size: 25px;
    margin-top: 2px;
    color: rgb(0, 0, 0);
  }